@model IEnumerable<MyShop.Models.Product>

<h2>Check out our w4r3z</h2>

<p>
    <h4>Cool stuff for cool people</h4>
    <br />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.ID })
                @*| @Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
            </td>
        </tr>
    }

</table>
<hr />
<p>
    <strong>start time:</strong> @ViewBag.StartTime <br />
    <strong>elapsed time:</strong> @ViewBag.ElapsedTime
</p>


